<main>
  <div class="container">
    <div class="topics">
      <div class="topics__heading">
        <h2 class="topics__heading-title">
          <div class="col">
            <p>{{event.briefDescription | titlecase }} </p>
          </div>
        </h2>
        <div class="topics__heading-info">
          <a class="category">Категории: </a>
          <div class="tags">
            <div *ngFor="let item of categories">
              <app-tag-event [category] = item></app-tag-event>
            </div>
          </div>
        </div>
      </div>
      <div class="topics__body">
        <div class="topics__content">
          <div class="topic">
            <div class="topic__head">
              <div class="topic__avatar">
                <ng-container *ngIf="event.organizersDTO && medias!==undefined; else noOrganizer">
                  <a [routerLink]="['/personal-cabinet', event.organizersDTO[0].userId ]" class="avatar">
                    <app-photo-person
                      [medias]="event.organizersDTO[0].medias" >
                    </app-photo-person>
                  </a>
                </ng-container>
                <ng-template #noOrganizer>
                  <div class="avatar">
                    <app-photo-person
                      [medias]="defaultOganizer.defaultOrganizerIdMedia">
                    </app-photo-person>
                  </div>
                </ng-template>
              </div>
              <div class="topic__caption">
                <div class="topic__name">
                  <ng-container *ngIf="event.organizersDTO[0]!==undefined; else noOrganizerName">
                    <a [routerLink]="['/personal-cabinet', event.organizersDTO[0].userId ]">
                      {{event.organizersDTO[0].firstName + ' ' + event.organizersDTO[0].lastName}}
                    </a>
                  </ng-container>
                  <ng-template #noOrganizerName>
                    <!--                    аналогично-->
                    {{defaultOganizer.defaultOrganizerName}}
                  </ng-template>
                </div>
                <div class="topic__date"><i class="icon-Watch_Later"></i>
                  {{event.dateTime | date:'EEEE, MMMM d, y, HH:mm': "MSK"}}
                </div>
              </div>
            </div>
            <div class="topic__content">
              <div class="topic__text">
                <pre>{{event.fullDescription}}</pre>
                <ng-container *ngIf="event.cityDTO!==undefined && event.cityDTO.titleRu ; else noCity">
                  <p> Город:  {{ event.cityDTO.regionRu  }} {{ event.cityDTO.titleRu }} </p>
                  <p> Место проведения - {{event.place}}</p>
                </ng-container>
                <ng-template #noCity>
                  <ng-container *ngIf="event.place!==undefined && event.place!==null && event.place!=='' ; else noPlace">
                    <p>Место проведения - {{event.place}}</p>
                  </ng-container>
                  <ng-template #noPlace>
                  </ng-template>
                </ng-template>
              </div>
              <ng-container *ngIf="user.email">
                <div class="topic__footer">
                  <div class="topic__btns">
                    <ng-container *ngIf="subsribeEvent;  else noSubsribeEvent">
                      <a class="btn btn--type-03" (click)="unsubscribeEvent()">
                        Вы подписаны
                        <span data-visible="desktop">на событие </span>
                      </a>
                    </ng-container>
                    <ng-template #noSubsribeEvent>
                      <a class="btn btn--type-02" (click)="subscribeEvent()">
                        Подписаться
                        <span data-visible="desktop">на событие </span>
                      </a>
                    </ng-template>
                    <div *ngIf="event.organizersDTO.length !== 0">
                      <div *ngIf="event.organizersDTO[0].email === user.email">
                        <a class="btn btn--type-04" (click)="deleteEvent()">
                          Удалить
                          <span data-visible="desktop">событие </span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="topic__footer-share">
                    <div data-visible="desktop">
                      <ng-container *ngIf="addLike;  else noLikeEvent">
                        <a [routerLink]="['/event', event.eventId]"  (click)="removeLikeEvent()" class="active">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg>
                        </a>
                      </ng-container>
                      <ng-template #noLikeEvent>
                        <a [routerLink]="['/event', event.eventId]" (click)="addLikeEvent()">
                          <i class="icon-Favorite_Topic"></i>
                        </a>
                      </ng-template>
                      <ng-container *ngIf="addFavorite;  else noFavorite">
                        <a [routerLink]="['/event', event.eventId]" (click)="removeFavoriteEvent()" class="active"><i class="icon-Already_Bookmarked"></i></a>
                      </ng-container>
                      <ng-template #noFavorite>
                        <a [routerLink]="['/event', event.eventId]" (click)="addFavoriteEvent()"><i class="icon-Bookmark"></i></a>
                      </ng-template>
                    </div>
<!--                    <div data-visible="mobile">-->
<!--                      <a href="#"><i class="icon-More_Options"></i></a>-->
<!--                    </div>-->
<!--                    <a href="#"><i class="icon-Reply_Fill"></i></a>-->
                  </div>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="topic">
            <div class="topic__content">
              <div class="topic__info">
                <div class="topic__info-section">
                  <div>
                    <span class="topic__info-title">Создатель</span>
                    <div  class="topic__info-avatar">
                      <ng-container *ngIf="event.organizersDTO && medias!==undefined; else noOrganizer">
                        <a [routerLink]="['/personal-cabinet', event.organizersDTO[0].userId ]" class="avatar">
                          <app-photo-person
                            [medias]="event.organizersDTO[0].medias">
                          </app-photo-person>
                        </a>
                      </ng-container>
                      <ng-template #noOrganizer>
                        <a class="avatar">
                          <app-photo-person
                            [medias]="defaultOganizer.defaultOrganizerIdMedia">
                          </app-photo-person>
                        </a>
                      </ng-template>
                    </div>
                  </div>
                  <div>
                    <span class="topic__info-title">Последний комментарий</span>
                    <div  class="topic__info-avatar">
                      <ng-container *ngIf="event.comments && event.comments.length !== 0 ; else noComment">
                        <a [routerLink]="['/personal-cabinet', event.comments[event.comments.length-1].user.userId ]" class="avatar">
                          <app-photo-person
                            [medias]="event.comments[event.comments.length-1].user.medias" [prem]="event.comments[event.comments.length-1].user.prem">
                          </app-photo-person>
                        </a>
                        <span>{{diffCommentDate-1}}h</span>
                      </ng-container>
                      <ng-template #noComment>
                        <!--                        <ng-container *ngIf="event.organizersDTO && medias!==undefined; else noOrganizer">-->
                        <!--                          <a [routerLink]="['/personal-cabinet', event.organizersDTO[0].userId ]" class="avatar">-->
                        <!--                            <app-photo-person-->
                        <!--                              [medias]="event.organizersDTO[0].medias">-->
                        <!--                            </app-photo-person>-->
                        <!--                          </a>-->
                        <!--                        </ng-container>-->
                        <!--                        <ng-template #noOrganizer>-->
                        <!--                          <a [routerLink]="['/personal-cabinet', defaultOganizer.defaultOrganizerId ]" class="avatar">-->
                        <!--                            <app-photo-person-->
                        <!--                              [medias]="defaultOganizer.defaultOrganizerIdMedia">-->
                        <!--                            </app-photo-person>-->
                        <!--                          </a>-->
                        <!--                        </ng-template>-->
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="topic__info-section">
                  <div>
                    <span class="topic__info-title">Пользователи</span>
                    <div  class="topic__info-count">{{countUser}}</div>
                  </div>
                  <div>
                    <span class="topic__info-title">Лайки</span>
                    <div  class="topic__info-count">{{countLike}}</div>
                  </div>
                  <div>
                    <span class="topic__info-title">Сохранено</span>
                    <div  class="topic__info-count">{{countFavorites}}</div>
                  </div>
                </div>
<!--                <a href="#" class="topic__info-more"><i class="icon-Arrow_Down"></i></a>-->
              </div>
              <div class="topic__title">
                <p>Участники</p>
              </div>
              <div class="topic__posters">
                <!--                добавить возможность скрыть список этот список-->
                <div *ngFor="let us of event.usersDTO.slice().reverse()">
                  <a [routerLink]="['/personal-cabinet', us.userId]" class="avatar">
                    <app-photo-person
                      [medias]="us.medias" [prem]="us.prem">
                    </app-photo-person>
                  </a>
                </div>
              </div>
              <div class="topic__title">
                <div class="card-columns">
                  <div class = "card" *ngFor="let item of event.medias.medias">
                    <ng-container *ngIf="item.width">
                      <img class= "card-img" src="{{item.securityUrl}}" alt="что-то пошло не так 2">
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <ng-container *ngIf="user.email">
            <div class="topic">
              <form [formGroup]="form">
                <div class="topic__head">
                  <div class="topic__avatar">
                    <a [routerLink]="['/personal-cabinet']" class="avatar">
                      <app-photo-person
                        [medias]="user.medias" [prem]="user.prem">
                      </app-photo-person>
                    </a>
                  </div>
                  <div class="topic__caption">
                    <div class="topic__name">
                      {{user.firstName}}  {{user.lastName}}
                    </div>
                  </div>
                </div>
                <div class="topic__content">
                  <div class="topic__text">
                    <mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>Комментарий</mat-label>
                      <textarea class="inputField"
                                cdkTextareaAutosize
                                cdkAutosizeMinRows="1"
                                cdkAutosizeMaxRows="5"
                                matInput type="text" formControlName="textComment" name="textComment"> </textarea>
                    </mat-form-field>
                  </div>
                  <div class="topic__footer-show">
                    <a (click)="saveComment()" class="btn">Отправить</a>
                  </div>
                </div>
              </form>
            </div>
          </ng-container>

          <div *ngFor="let cm of event.comments.slice().reverse()">
            <app-comment-event [comment]="cm" [event]="event">
            </app-comment-event>
          </div>
        </div>
        <div class="topics__calendar">
<!--          <div class="calendar">-->
<!--            <div class="calendar__top">-->
<!--              <a href="#" class="calendar__btn calendar__btn&#45;&#45;c-01"><i class="icon-Calender"></i></a>-->
<!--            </div>-->
<!--            <div class="calendar__center">-->
<!--              <div class="calendar__first">{{event.dateTime | date: "MMMM d"}}</div>-->
<!--              <div class="calendar__range">-->
<!--                <div [ngStyle]="{ 'bottom': percentTopic} " class="calendar__current ">-->
<!--                  <p>{{numberCurrentDateFromEvent}}/{{numberFinishDateFromEvent}} {{currentDate | date: "MMMM d"}}</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <ng-container *ngIf="percentChek < 5">-->
<!--                <br>-->
<!--              </ng-container>-->
<!--              <div class="calendar__last">-->
<!--                <ng-container *ngIf="event.creation_date!==undefined && event.creation_date!==null ; else noCreationDate">-->
<!--                  {{event.creation_date | date: "MMMM d" }}-->
<!--                </ng-container>-->
<!--                <ng-template #noCreationDate>-->
<!--                  {{defaultDate | date: "MMMM d"}}-->
<!--                </ng-template>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="create__section">
            <div *ngIf="event.securityUrl !== null">
              <ng-container *ngIf="event.securityUrl.substr(0, 4)==='http' else noHttp">
                <img class="img-fluid" src="{{event.securityUrl}}" alt="imageHeader" width="200">
                <br>
                <hr>
              </ng-container>
              <ng-template #noHttp>
                <img class="img-fluid" src="https://{{event.securityUrl}}" alt="imageHeader">
                <br>
                <hr>
              </ng-template>
            </div>
            <div class="topic__title__rating">
              <p>Рейтинг события</p>
            </div>
            <div class="topic__list">
              <app-rating-event [event]="event" [user]="user"></app-rating-event>
            </div>
          </div>
<!--              <div class="calendar">-->
<!--                <div class="calendar__top">-->
<!--                  <a href="#" class="calendar__btn"></a>-->
<!--                </div>-->
<!--                <div class="calendar__center">-->
<!--                  <a href="#" class="calendar__btn calendar__btn&#45;&#45;c-01"><i class="icon-Calender"></i></a>-->
<!--                  <div class="calendar__first">{{event.dateTime | date: "MMMM d"}}</div>-->
<!--                  <div class="calendar__range">-->
<!--                    <div [ngStyle]="{ 'bottom': percentTopic}" class="calendar__current ">-->
<!--                      <p> {{numberCurrentDateFromEvent}}/{{numberFinishDateFromEvent}} {{currentDate | date: "MMMM d"}}</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <ng-container *ngIf="percentChek < 5">-->
<!--                    <br>-->
<!--                  </ng-container>-->
<!--                  <div class="calendar__last">-->
<!--                    <ng-container *ngIf="event.creation_date!==undefined && event.creation_date!==null ; else noCreationDate">-->
<!--                      {{event.creation_date | date: "MMMM d" }}-->
<!--                    </ng-container>-->
<!--                    <ng-template #noCreationDate>-->
<!--                      {{defaultDate | date: "MMMM d"}}-->
<!--                    </ng-template>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
        </div>
      </div>
    </div>
  </div>
</main>
