<div class="row justify-content-md-center">
  <div class="col-2"></div>
  <div class="col-sm-auto">
      <app-photo-person [medias]="medias" [prem]="user.prem">
      </app-photo-person>
  </div>
  <div class="col">
    <div class="file-upload">
      <button mat-mini-fab color="primary" class="upload-btn" type="button"
              (click)="onOpenUpload($event)">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
  </div>
</div>
