<head>
  <title>Новое событие</title>
</head>

<main>
  <div>
    <mat-card class="container">
      <form [formGroup]="form" (ngSubmit)="handleFormSubmit()">
        <mat-error *ngIf="error"> При создании события произошла ошибка.</mat-error>
        <mat-card-content class="content">
          <div class="create__head">
            <mat-card-title class="create__title"
              ><img src="fonts/icons/main/New_Topic.svg" alt="New topic" />Новое событие</mat-card-title
            >
          </div>

          <div class="create__section">
            <mat-form-field appearance="standard">
              <mat-label>Название события</mat-label>
              <input class="message-input" matInput formControlName="name" required />
              <!--              <label class="create__label" for="title">Название</label>-->
              <!--              <input type="text" class="form-control" id="title" placeholder="Введите здесь" />-->
            </mat-form-field>
          </div>

          <div class="row">
              <div class="col-md">
                <mat-form-field appearance="standard">
                  <mat-label>Выберите дату</mat-label>
                  <input matInput formControlName="date" [min]="minDate" [matDatepicker]="picker" required />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md">
                <!--              <mat-form-field appearance="fill">-->
                <!--                <mat-label>Выберите время</mat-label>-->
                <!--                <div class="24hr-example">-->
                <mat-form-field appearance="standard">
                  <mat-label>Выберите время</mat-label>
                  <input matInput formControlName="time"  [ngxTimepicker]="fullTime" [format]="24" readonly required />
                  <mat-datepicker-toggle [for]="fullTime" matSuffix>
                    <mat-icon matDatepickerToggleIcon class="timer">alarm</mat-icon>
                  </mat-datepicker-toggle>
                  <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                </mat-form-field>
              </div>
            <!--        class="example-full-width"-->

            <!--          <div class="col-md-6">-->
            <!--            <div class="create__section">-->
            <!--            <mat-form-field class="example-full-width" appearance="fill">-->
            <!--              <mat-label>Choose a date</mat-label>-->
            <!--              <input matInput [matDatepicker]="picker" />-->
            <!--              <mat-datepicker-toggle matSuffix [for]="picker">-->
            <!--                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>-->
            <!--              </mat-datepicker-toggle>-->
            <!--              <mat-datepicker #picker></mat-datepicker>-->
            <!--            </mat-form-field>-->
            <!--            </div>-->
            <!--          </div>-->
          </div>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Описание</mat-label>
            <textarea
              matInput
              class="inputField"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="15"
              formControlName="description"
              id="description"
              required
            ></textarea>
          </mat-form-field>

          <div class="row">
            <div class="col-md-12">
              <div class="create__section">
                <mat-form-field appearance="standard">
                  <mat-label>Место проведения</mat-label>
                  <input class="message-input" matInput formControlName="place" required />
                  <!--              <label class="create__label" for="title">Название</label>-->
                  <!--              <input type="text" class="form-control" id="title" placeholder="Введите здесь" />-->
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="create__section">
            <mat-form-field class="example-full-width" appearance="standard">
              <mat-label>Город</mat-label>
              <input type="text" matInput formControlName="city" [matAutocomplete]="auto2" />
              <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFnCity">
                <mat-option *ngFor="let option of filteredOptionsCity | async" [value]="option">
                  <ng-container *ngIf="option.regionRu!==null; else Region">
                    {{option.titleRu + ', ' + option.regionRu}}
                  </ng-container>
                  <ng-template #Region>
                    {{option.titleRu}}
                  </ng-template>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div>
            <label class="form-check-label">Выберите категорию вашего события</label>
          </div>
          <hr class="my-2" />
          <div class="create__section chips">
<!--            <div class="tags">-->
<!--              <div *ngFor="let item of categories">-->
<!--                <app-tag-event [category] = item></app-tag-event>-->
<!--              </div>-->
<!--            </div>-->
            <app-chips-events [options]="categoryList" formControlName="chipsControl"></app-chips-events>
          </div>
          <div>
            <label class="form-check-label">Загрузите фотографию вашего события</label>
          </div>
          <hr class="my-2" />
          <div class="file-upload">
            <button mat-mini-fab color="primary" class="upload-btn" type="button"
                                (click)="onOpenUpload($event)">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <div *ngIf="imageUpload !== false ">
            <ng-container *ngIf="secure_url.substr(0, 4)==='http' else noHttp">
              <img class="img-fluid" src="{{secure_url}}" alt="imageHeader">
              <br>
              <hr>
            </ng-container>
            <ng-template #noHttp>
              <img class="img-fluid" src="https://{{secure_url}}" alt="imageHeader">
              <br>
              <hr>
            </ng-template>
          </div>
          <!--          <h3>Value: {{chipsControlValue$ | async}}</h3>-->
        </mat-card-content>
        <mat-card-actions align="end">
          <div class="create__footer">
            <a mat-flat-button routerLink="/events" class="create__btn-cansel btn">Отмена</a>
            <button mat-flat-button color="primary" [disabled]="!form.valid">Создать событие</button>
            <!--            <a class="create__btn-create btn btn&#45;&#45;type-02">Создать событие</a>-->
          </div>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</main>
