.mat-card {
  margin-top: 44px;
  padding: 30px;
}
/*textarea{*/
/*  background: rgb(245,245,245);*/
/*  border-radius: 10px;*/
/*  width: 925px;*/
/*  padding-bottom: 30px;*/
/*  !*padding: 10px;*!*/
/*}*/
textarea.mat-input-element{
  padding: 10px 0 40px 16px;
  margin-bottom: 20px;
  max-width: 970px;
}
.mat-card-title {
  margin-bottom: 14px
}

\:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
.mat-card-title {
  margin-bottom: 14px
}
.content {
  display: flex;
  flex-direction: column;
}
.mat-form-field {
  display: inline;
}
.mat-card-content,
.mat-card-actions {
  margin-bottom: 0;
  padding-top: 8px;
}
.mat-card-actions.mat-card-actions-align-end {
  padding-top: 15px;
}

.mat-card-actions.a.redirect {
  display: inline-flex;
  align-content: flex-start;
}
.loginLabel{
  padding-bottom: 5px;
}
/*a{*/
/*  text-decoration: none;*/
/*  visited:*/
/*    color: inherit;*/
/*}*/
.redirect {
  float: left;
  text-align: left;
  margin-right: auto;
  padding-left: 16px;
}
.mat-card {
  padding: 30px;
}
.create__section.chips{
  margin-top: 15px;
}
.timer{
  color: gray;
}
