<div *ngIf="comment!==null">
  <div class="topic">
    <div class="topic__head">
      <div class="topic__avatar">
        <a [routerLink]="['/personal-cabinet', comment.user.userId]" class="avatar">
          <app-photo-person
            [medias]="comment.user.medias" [prem]="comment.user.prem">
          </app-photo-person>
        </a>
      </div>
      <div class="topic__caption">
        <div class="topic__name">
          {{comment.user.firstName}} {{comment.user.lastName}}
        </div>
        <div class="topic__date">
          <i class="icon-Watch_Later"></i>{{comment.commentDate | date :'MMMM d, y, HH:mm': "MSK"}}
          <pre>  </pre>
          <div *ngIf="comment.user.userId === user.userId">
            <a (click)="deleteComment(comment.commentId)" class="active">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="topic__content">
      <div class="topic__text">
        <p>{{comment.message}}</p>
      </div>
  <!--    <div class="topic__footer">-->
  <!--      <div class="topic__footer-likes">-->
  <!--        <div>-->
  <!--          <a href="#"><i class="icon-Upvote"></i></a>-->
  <!--          <span>137</span>-->
  <!--        </div>-->
  <!--        <div>-->
  <!--          <a href="#"><i class="icon-Downvote"></i></a>-->
  <!--          <span>02</span>-->
  <!--        </div>-->
  <!--        <div>-->
  <!--          <a href="#"><i class="icon-Favorite_Topic"></i></a>-->
  <!--          <span>46</span>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="topic__footer-share">-->
  <!--        <div data-visible="desktop">-->
  <!--          <a href="#"><i class="icon-Share_Topic"></i></a>-->
  <!--          <a href="#"><i class="icon-Flag_Topic"></i></a>-->
  <!--          <a href="#"><i class="icon-Bookmark"></i></a>-->
  <!--        </div>-->
  <!--        <div data-visible="mobile">-->
  <!--          <a href="#"><i class="icon-More_Options"></i></a>-->
  <!--        </div>-->
  <!--        <a href="#"><i class="icon-Reply_Fill"></i></a>-->
  <!--      </div>-->
  <!--    </div>-->
    </div>
  </div>
</div>
