<head>
  <title>Sign Up</title>
</head>

<div class="signup">

  <header class="signup__header">
    <div class="container">
      <div class="signup__header-content">
        <p>Уже есть аккаунт?</p>
        <a [routerLink]="['/auth', 'login']" style="margin-bottom:10px" class="btn">Войти!</a>
      </div>
      <div class="signup__header-content">
        <button [routerLink]="['/feed']" style="margin-bottom:10px" type="button" class="btn-success">Главная</button>
      </div>
    </div>
  </header>

  <main class="signup__main">
    <img class="signup__bg" src="assets/images/signup-bg.png" alt="bg" />
    <div class="container">
      <div class="signup__container">
        <div class="signup__logo">
          <a  style="font-family: 'Comic Sans MS'"><img src="../../../../../fonts/icons/main/smart-event-logo.png" alt="logo" />Smart Events</a>
        </div>
        <div class="signup__head">
          <h2>Создайте Свой Аккаунт</h2>
          <p>
            Зарегистрировавшись, вы сможете подписываться, создавать, комменитровать и оценивать события, а также сможете получать наши рекомендации по событиям.
            А наличие чата поможет установить вам контакт с единомышленниками.
          </p>
        </div>
        <mat-card class="signup__form">
          <form [formGroup]="form">
            <mat-error *ngIf="errorEmail"> Такой email уже занят, попробуйте другой</mat-error>
            <mat-error *ngIf="errorUsername"> Такой username уже занят, попробуйте другой</mat-error>
            <mat-card-content class="content">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="standard">
                    <mat-label>Имя</mat-label>
                    <input matInput class="form-control" formControlName="firstName" name="firstName" maxlength="20" required />
                    <mat-error *ngIf="form.get('firstName')?.hasError('whitespace')">
                      <span>Обязательное поле</span>
                    </mat-error>
                    <mat-error *ngIf="form.get('firstName')?.errors?.pattern">
                      Введите действительное имя
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field appearance="standard">
                    <mat-label>Фамилия</mat-label>
                    <input matInput class="form-control" formControlName="lastName" name="lastName" maxlength="20" required />
                    <mat-error *ngIf="form.get('lastName')?.hasError('whitespace')">
                      <span>Обязательное поле</span>
                    </mat-error>
                    <mat-error *ngIf="form.get('lastName')?.errors?.pattern">
                      Введите действительное имя
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <mat-form-field appearance="standard">
                <mat-label>Имя пользователя</mat-label>

                <input class="form-control" matInput formControlName="username" required minlength="4" maxlength="20" />
                <mat-error *ngIf="form.get('username')?.hasError('whitespace')">
                  <span>Обязательное поле</span>
                </mat-error>
                <mat-error *ngIf="form.get('username')?.errors?.min">
                  Username должно быть больше или равно
                  {{form.get('username')?.errors?.min.min}}
                </mat-error>
                <mat-error *ngIf="form.get('username')?.errors?.userNameRegExp">
                  Введите первую букву латинскую
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label>Почта</mat-label>
                <input class="form-control" matInput type="email" formControlName="email" name="email" maxlength="50" required />
                <mat-error *ngIf="form.get('email')?.errors?.pattern">
                  Введите действительную почту
                </mat-error>

                <mat-error *ngIf="form.get('email')?.hasError('whitespace')">
                  <span>Обязательное поле</span>
                </mat-error>

              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label class="signup__label">Пароль</mat-label>
                <input
                  class="message-input form-control"
                  matInput
                  type="password"
                  formControlName="password"
                  name="password"
                  minlength="5"
                  maxlength="30"
                  required
                />
                <mat-error *ngIf="form.get('password')?.hasError('whitespace')">
                  <span>Обязательное поле</span>
                </mat-error>
                <mat-error *ngIf="form.get('password')?.errors?.min">
                  Пароль должно быть больше или равен
                  {{form.get('password').errors?.min.min}}
                </mat-error>
              </mat-form-field>
              <hr class="custom" size="4px" style="color:rgba(246,175,82,1)">
              <div class="row">
                <div class="col-md-6">
                  <div class="create__section">
                    <mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>Страна</mat-label>
                      <input type="text" matInput formControlName="country" [matAutocomplete]="auto" >
                      <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn" formControlName="country"  >
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.countryName}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="create__section">
                    <mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>Город</mat-label>
                      <input type="text" matInput formControlName="city" [matAutocomplete]="auto2">
                      <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFnCity" formControlName="city" >
                        <mat-option *ngFor="let option of filteredOptionsCity | async" [value]="option">
                          <ng-container *ngIf="option.regionRu!==null; else Region">
                            {{option.titleRu + ', ' + option.regionRu}}
                          </ng-container>
                          <ng-template #Region>
                            {{option.titleRu}}
                          </ng-template>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </mat-card-content>

            <mat-card-actions align="end">
              <button  [disabled]="!form.valid"
                       (click)="handleFormSubmit(form.value)"
                       class="signup__btn-create btn btn--type-02">Зарегистрироваться</button>
<!--              <a mat-flat-button routerLink="/">На главную</a>-->
            </mat-card-actions>
          </form>
        </mat-card>
      </div>
    </div>
  </main>
</div>
