<ng-container *ngIf = "paidFor ; else noPremiumPage">
  <h4>Подписка уже приобретена!</h4>
</ng-container>
<ng-template #noPremiumPage>
  <div class = "create__section">
    <h3>Стоимость подписки 999 рублей</h3>
    <ol class="rounded">
      <li><a >Создание любого количества событий в месяц</a></li>
      <li><a >Выделение вашей фотографии, отражающей ваш премиум статус</a></li>
    </ol>
  </div>
</ng-template>
<div class="create__footer">
<div [hidden]="paidFor" #paypalRef></div>
</div>


