<div class="card-columns">
  <div *ngIf="images.length!==0">
    <div *ngFor="let item of images">
      <ng-container *ngIf="item.width">
  <!--      <cl-image class= "card-img" public-id = "{{ item.mediaUrl}}">-->
  <!--      </cl-image>-->
        <div class = "card position-relative">
          <img class= "card-img " src="{{item.securityUrl}}" alt="что-то пошло не так">
          <div *ngIf="userCurrentSession.userId===us.userId">
            <a (click)="deleteImage(item.mediaUuid)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
