<div class="container">
  <ng-container *ngIf="loading">
    <div class="create">
            <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!loading">
    <div class="create">
      <div class="create__head">
        <div class="create__title"><img src="fonts/icons/main/New_Topic.svg" alt="New topic">Личная информация</div>
      </div>
      <form [formGroup]="formPersonalCabinet">
        <div class="row g-3">
          <div class="col-md-6 order-md-last">
            <app-upload-file></app-upload-file>
          </div>
          <div class="col-md-6 ">
            <div class="col">
              <div class="create__section">
                <mat-form-field class="example-full-width" appearance="standard">
                  <mat-label>Имя</mat-label>
                  <input class="inputField" matInput type="text" formControlName="firstName" name="firstName" required>
                  <mat-error *ngFor="let error of formPersonalCabinet.get('firstName')?.errors | errorsToArray">
                    {{error | displayError}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col">
              <div class="create__section">
                <mat-form-field class="example-full-width" appearance="standard">
                  <mat-label>Фамилия</mat-label>
                  <input class="inputField" matInput type="text" formControlName="lastName" name="lastName" required>
                  <mat-error *ngFor="let error of formPersonalCabinet.get('lastName')?.errors | errorsToArray">
                    {{error | displayError}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

        </div>
        <div class="row g-2">
          <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="standard">
              <mat-label>Email</mat-label>
              <input class="inputField" matInput type="text" formControlName="email" name="email" required readonly>
              <mat-error *ngFor="let error of formPersonalCabinet.get('email')?.errors | errorsToArray">
                {{error | displayError}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="standard">
              <mat-label>Username</mat-label>
              <input class="inputField" matInput type="text" formControlName="username" name="username" required readonly>
              <mat-error *ngFor="let username of formPersonalCabinet.get('username')?.errors | errorsToArray">
                {{username | displayError}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="create__section">
                <mat-form-field class="example-full-width" appearance="standard">
                  <mat-label>Страна</mat-label>
                     <input type="text" matInput formControlName="country" [matAutocomplete]="auto" >
                     <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn" formControlName="country"  >
                         <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.countryName}}
                         </mat-option>
                     </mat-autocomplete>
                </mat-form-field>

  <!--                  этот код!-->
  <!--                  <mat-form-field class="example-full-width" appearance="standard" >-->
  <!--                    <mat-label>Страна</mat-label>-->
  <!--                    <mat-select matNativeControl formControlName="country" name="country" >-->
  <!--                        <mat-option *ngFor="let county of countries" [value]="county.countryName" required>-->
  <!--                          {{county.countryName}}-->
  <!--                        </mat-option>-->
  <!--                    </mat-select>-->
  <!--                  </mat-form-field>-->

            </div>
          </div>
          <div class="col-md-6">
            <div class="create__section">
              <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Город</mat-label>
                <input type="text" matInput formControlName="city" [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFnCity" formControlName="city" >
                  <mat-option *ngFor="let option of filteredOptionsCity | async" [value]="option">
                    <ng-container *ngIf="option.regionRu!==null; else Region">
                      {{option.titleRu + ', ' + option.regionRu}}
                    </ng-container>
                    <ng-template #Region>
                      {{option.titleRu}}
                    </ng-template>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="create__section create__textarea">

        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>Информация о себе</mat-label>
          <textarea class="inputField"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    matInput type="text" formControlName="informationAboutYourself" name="informationAboutYourself"> </textarea>
          <mat-error *ngFor="let error of formPersonalCabinet.get('informationAboutYourself')?.errors | errorsToArray">
            {{error | displayError}}
          </mat-error>
        </mat-form-field>

  <!--        <label class="create__label" for="description">Информация о себе</label>-->
  <!--        <textarea class="form-control" id="description"></textarea>-->
        </div>
       <h3>Мои категории: </h3>
        <div class="create__section">
          <app-chips-events [options]="options" formControlName="chipsControl">
          </app-chips-events>
        </div>
        <hr>

        <div class="create__footer">
          <button
            [disabled]="!formPersonalCabinet.valid"
            (click)="SubmitInformation(formPersonalCabinet.value)" class="create__btn-create btn btn--type-02">Сохранить
          </button>
        </div>
      </form>
    </div>
    <div class="create">
      <div class="create__head">
        <div class="create__title">
          <img src="fonts/icons/main/premium-png-3.png" alt="MyPhoto">Премиум подписка:
          <ng-container *ngIf="this.router.url.length >= 32; else NoPhoto">
            <a [routerLink]="['/personal-cabinet']">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
              </svg>
            </a>
          </ng-container>
          <ng-template #NoPhoto>
            <a [routerLink]="[{outlets: {prem: ['premium']}}]"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
            </svg></a>
          </ng-template>
        </div>
      </div>
      <router-outlet name="prem"></router-outlet>
    </div>
    <div class="create">
      <div class="create__head">
        <div class="create__title">
            <img src="fonts/icons/main/206-2061237_a-gallery-icon-png-circle-clipart.png" alt="MyPhoto">Мои фотографии:
            <ng-container *ngIf="this.router.url.length === 23; else noPremiumPage">
              <a [routerLink]="['/personal-cabinet']">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
              </svg>
              </a>
            </ng-container>
            <ng-template #noPremiumPage>
              <a [routerLink]="['/personal-cabinet', 'photo']" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
              </svg></a>
            </ng-template>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </ng-container>
</div>
