<div *ngIf="router.url!=='/auth/signup' && router.url!=='/auth/login'">
<header>
  <div class="header js-header js-dropdown">
    <div class="container">
      <div class="header__logo">
        <img class = "img-fluid" src="../fonts/icons/main/smart-event-logo.png" alt="logo"/>
        <a [routerLink]="['/feed']" class="header__logo-btn" data-dropdown-btn="logo">Smart Event</a>
<!--        <nav class="dropdown dropdown&#45;&#45;design-01" data-dropdown-list="logo">-->
<!--          <ul class="dropdown__catalog">-->
<!--            <li><a [routerLink]="['/feed']">Главная страница</a></li>-->
<!--            <li><a [routerLink]="['/events/add-event']">Новое событие</a></li>-->
<!--          </ul>-->
<!--        </nav>-->
      </div>
      <ng-container *ngIf="this.user.authenticated; else anonimSearch">
        <div  class="header__search">
          <form #form="ngForm" (ngSubmit)="handleSearchSubmit(form.value)">
            <div data-dropdown-btn="search">
              <label>
                <div [routerLink]="['/search']"><i class="icon-Search js-header-search-btn-open"></i></div>
              <input matInput ngModel name="input" type="search" placeholder="Поиск события" class="form-control" />
            </label>
            </div>
          </form>
        </div>
      </ng-container>
      <ng-template #anonimSearch>
        <div class="header__search__anonim">
          <form #form="ngForm" (ngSubmit)="handleSearchSubmit(form.value)">
            <div data-dropdown-btn="search">
              <label>
                <div [routerLink]="['/search']"><i class="icon-Search js-header-search-btn-open"></i></div>
                <input matInput ngModel name="input" type="search" placeholder="Поиск события" class="form-control" />
              </label>
            </div>
          </form>
        </div>
      </ng-template>
      <div *ngIf="this.user.authenticated" class="header__create" > <a [routerLink]="['/events/add-event']" mat-flat-button color="primary" style="background-color: #f9bc64">Создать событие</a></div>
      <div *ngIf="this.user.authenticated" class="header__create"><a (click)="tabClick('recs')">Рекомендации</a></div>
      <div *ngIf="this.user.authenticated" class="header__menu">
          <div class="header__menu-btn" data-dropdown-btn="menu">Мои события<i class="icon-Menu_Icon"></i></div>
          <nav class="dropdown dropdown--design-01" data-dropdown-list="menu">
            <div *ngIf="this.user.authenticated">
              <ul class="dropdown__catalog row links">
                <li class="col-xs-6"><a (click)="tabClick('saved')">Сохраненные</a></li>
                <li class="col-xs-6"><a (click)="tabClick('subs')">Подписки</a></li>
                <li class="col-xs-6"><a (click)="tabClick('recs')">Рекомендации</a></li>
<!--                <li class="col-xs-6"><a>Созданные события</a></li>-->
                <!--              <li class="col-xs-6"><a href="#">Tags</a></li>-->
  <!--              <li class="col-xs-6"><a href="#">Shortcuts</a></li>-->
              </ul>
            </div>
          </nav>
        </div>
      <div class="header__notification">
          <app-user-menu></app-user-menu>
        </div>
    </div>
  </div>
</header>
</div>
<router-outlet></router-outlet>
<div *ngIf="router.url!=='/auth/signup' && router.url!=='/auth/login'">
<footer>
  <div class="footer js-dropdown">
    <div class="container">
      <div class="footer__bline m--center">
        <div class="footer__copyright m--center">
          &copy; 2021 smart-event.xyz
        </div>
      </div>
    </div>
  </div>
</footer>
</div>

