<h2 mat-dialog-title>Чтобы продолжить, необходимо войти.</h2>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Войти</button>
</mat-dialog-actions>
