<div class="container">
  <div class="create">
    <div class="create__head">
      <div class="create__title"><img src="fonts/icons/main/New_Topic.svg" alt="New topic">Личная информация</div>
    </div>
    <form [formGroup]="formPersonalCabinet">
      <div class="row g-3">
        <div class="col-md-6 order-md-last">
          <div class="row justify-content-md-center">
            <div class="col-2"></div>
            <div class="col-sm-auto">
              <app-photo-person [medias]="user.medias" [prem]="user.prem">
              </app-photo-person>
            </div>
            <div class="col">
            </div>
          </div>

        </div>
        <div class="col-md-6 ">
          <div class="col">
            <div class="create__section">
              <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Имя</mat-label>
                <input class="inputField" matInput type="text" formControlName="firstName" name="firstName" required  readonly>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="create__section">
              <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Фамилия</mat-label>
                <input class="inputField" matInput type="text" formControlName="lastName" name="lastName" required  readonly>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="row g-2">-->
<!--        <div class="col-md-6">-->
<!--          <mat-form-field class="example-full-width" appearance="standard">-->
<!--            <mat-label>Email</mat-label>-->
<!--            <input class="inputField" matInput type="text" formControlName="email" name="email" required  readonly>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--          <mat-form-field class="example-full-width" appearance="standard">-->
<!--            <mat-label>Username</mat-label>-->
<!--            <input class="inputField" matInput type="text" formControlName="username" name="username" required  readonly>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
      <div class="row">
        <div class="col-md-6">
          <div class="create__section">
            <mat-form-field class="example-full-width" appearance="standard">
              <mat-label>Страна</mat-label>
              <input type="text" matInput formControlName="country"  readonly>
            </mat-form-field>

            <!--                  этот код!-->
            <!--                  <mat-form-field class="example-full-width" appearance="standard" >-->
            <!--                    <mat-label>Страна</mat-label>-->
            <!--                    <mat-select matNativeControl formControlName="country" name="country" >-->
            <!--                        <mat-option *ngFor="let county of countries" [value]="county.countryName" required>-->
            <!--                          {{county.countryName}}-->
            <!--                        </mat-option>-->
            <!--                    </mat-select>-->
            <!--                  </mat-form-field>-->

          </div>
        </div>
        <div class="col-md-6">
          <div class="create__section">
            <mat-form-field class="example-full-width" appearance="standard">
              <mat-label>Город</mat-label>
              <input type="text" matInput formControlName="city"  readonly>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="create__section create__textarea">
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>Информация о себе</mat-label>
          <textarea class="inputField"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    matInput type="text" formControlName="informationAboutYourself" name="informationAboutYourself"  readonly> </textarea>
        </mat-form-field>

        <!--        <label class="create__label" for="description">Информация о себе</label>-->
        <!--        <textarea class="form-control" id="description"></textarea>-->
      </div>

      <div class="topics__heading-info">
        <a class="category">Избранные категории</a>
        <div class="tags">
          <div *ngFor="let item of user.categories">
            <app-tag-event [category] = item></app-tag-event>
          </div>
        </div>
      </div>

      <div class="create__footer">
        <div class="topic__btns">
          <a [routerLink]="['/chat', user.userId]" class="btn-lg btn-warning">Написать сообщение
          </a>
        </div>
      </div>
    </form>
    <hr>
    <ng-container *ngIf="lookPhoto; else NoPhoto">
      <div class="create">
        <div class="create__head">
          <div class="create__title">
            <img src="fonts/icons/main/206-2061237_a-gallery-icon-png-circle-clipart.png" alt="MyPhoto">Фотографии пользователя:
              <a (click)="disable()" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
              </svg></a>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #NoPhoto>
      <div class="create">
        <div class="create__head">
          <div class="create__title">
            <img src="fonts/icons/main/206-2061237_a-gallery-icon-png-circle-clipart.png" alt="MyPhoto">Фотографии пользователя:
              <a (click)="disable()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                </svg>
              </a>
          </div>
        </div>
        <app-simple-gallery [images]="user.medias" [us]="user"></app-simple-gallery>
      </div>
    </ng-template>
  </div>
</div>
