<div class="container feed">
  <div class="nav">
    <div class="nav__categories js-dropdown">
      <div class="nav__select">
        <div class="btn-select" data-dropdown-btn="categories">Категории</div>
        <nav class="dropdown dropdown--design-01" data-dropdown-list="categories">
          <ul class="dropdown__catalog row">
            <ul *ngFor="let category of categories" class="dropdown__catalog row">
                <li class="col-xs-6"><a (click)="handleCategoryClick(category)" class="category"><i [class]="category.color"></i>{{ category.nameCategory }}</a>
                </li>
            </ul>
          </ul>
        </nav>
      </div>
    </div>

    <div class="nav__menu js-dropdown">
      <div class="nav__select">
        <div class="btn-select" data-dropdown-btn="menu">Последние</div>
        <div class="dropdown dropdown--design-01" data-dropdown-list="menu">
          <ul class="dropdown__catalog">
            <li><a href="#">Последние</a></li>
            <li><a href="#">Количество людей</a></li>
            <li><a href="#">Самые популярные</a></li>
            <li><a [routerLink]="['/subs']">Подписки</a></li>
          </ul>
        </div>
      </div>
      <ul class="toolbar">
        <li class="active"><a [routerLink]="['/feed']">Ближайшие</a></li>
        <!--        <li><a href="#">Последние</a></li>-->
        <!--        <li><a (click)="tabClick('members')">Количество людей</a></li>-->
        <!--        <li><a (click)="tabClick('saved')">Сохранено</a></li>-->
        <!--        <li><a (click)="tabClick('subs')">Подписки</a></li>-->
        <!--        <li><a (click)="tabClick('recs')">Рекомендации</a></li>-->
      </ul>
    </div>
  </div>

  <!--  <app-modal *ngIf="modal" title="Выбор города" (close)="modal = false"></app-modal>-->

  <div class="posts">
    <div class="posts__head">
      <!--      <div class="posts__topic"></div>-->
      <div class="col-xs-6 posts__category">Название события</div>
      <div class="col-xs-2 posts__users">
        <div class="click" (click)="subsSort()">
          Подписчики
          <mat-icon aria-hidden="false" aria-label="Example home icon">{{ membersIcon }}</mat-icon>
        </div>
      </div>

      <div style="padding-left: 35px" class="col-xs-2 posts__users">
        <div class="click" (click)="ratingSort()">
          Рейтинг
          <mat-icon aria-hidden="false" aria-label="Example home icon">{{ rateIcon }}</mat-icon>
        </div>
      </div>
      <div style="padding-left: 55px" class="col-xs-2 posts__users">
        <div class="click" (click)="dataSort()">
          Дата
          <mat-icon aria-hidden="false" aria-label="Example home icon">{{ dateIcon }}</mat-icon>
        </div>
      </div>
    </div>

    <div *ngIf="title">
      <div style="font-size: 22px; background-color: rgba(249, 188, 100, 0.7)" class="posts__head">
        <div class="title">
          {{ title }}
        </div>
      </div>
    </div>

    <div *ngIf="!isEmptyResponse; else noContent">
      <div class="posts__body">
        <div
          *ngFor="
            let event of events
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
        >
          <div>
            <div class="posts__item" [ngClass]="{ bgGray: i % 2 === 0 }">
              <div class="posts__section-left">
                <div class="posts__topic">
                  <div class="posts__content">
                    <a [routerLink]="['/event', event.eventId]">
                      <h3>{{ event.briefDescription }}</h3>
                    </a>
                    <div class="posts__tags tags">
                      <!--                    <a *ngFor="let category of event.categoriesEventDTOS" href="#">{{ category.nameCategory }}</a>-->
                      <!--                    <a href="#" class="bg-ec008c">общая</a>-->

                      <ng-container
                        *ngIf="
                          this.event.categoriesEventDTOS !== undefined && this.event.categoriesEventDTOS.length !== 0;
                          else noCategories
                        "
                      >
                        <div *ngFor="let item of event.categoriesEventDTOS">
                          <app-tag-event [category]="item"></app-tag-event>
                        </div>
                      </ng-container>
                      <ng-template #noCategories>
                        <a href="#" class="bg-ec008c">Общая</a>
                      </ng-template>
                    </div>
                  </div>
                  <!--                            <div class="posts__category">-->
                  <!--                              <a href="#" class="category"><i class="bg-4436f8"></i>Общая</a>-->
                  <!--                            </div>-->
                </div>

                <div class="posts__section-right">
                  <div class="col-md-10 posts__users js-dropdown">
                    <div *ngIf="event.usersDTO.length != 0; else noUsers">
                      <div *ngFor="let user of event.usersDTO; let i = index">
                        <div *ngIf="i < 3">
                          <a [routerLink]="['/personal-cabinet', user.userId]" class="avatar">
                            <app-photo-person [medias]="user.medias"> </app-photo-person>
                          </a>
                        </div>
                      </div>
                    </div>
                    <ng-template #noUsers>
                      <div class="avatar">
                        <app-photo-person [medias]="defaultOganizer.defaultOrganizerIdMedia"> </app-photo-person>
                      </div>
                    </ng-template>
                  </div>
                  <!--                <div class="posts__replies">252</div>-->
                  <app-book-rating class="col-md-6 posts__views" rating="{{ event.rating }}"></app-book-rating>
                  <div class="col-md-6 posts__replies">{{ event.dateTime | date: 'dd.MM.yyyy' }}</div>
                  <div class="col-md-4 posts__replies">{{ event.dateTime | date: 'HH:mm' }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md controls">
        <pagination-controls
          previousLabel="Предыдущая"
          nextLabel="Следующая"
          responsive="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
    </div>
    <ng-template #noContent>
      <div class="label">К сожалению, лента сейчас пуста. Возвращайтесь позже!</div>
    </ng-template>
  </div>
</div>
