<ng-container *ngIf="prem; else notPrem">
  <ng-container *ngIf="photoAvatarId; else notPhoto1">
    <cl-image  class="inline " public-id= "{{ photoAvatarId}}" crop="thumb" gravity="face" radius = "max" height="200" width="200"  format="png" border="7px_solid_rgb:ffd708bb">
    </cl-image>
  </ng-container>
  <ng-template #notPhoto1>
    <cl-image class="inline" public-id="{{ defaultPhotoId }}" crop="thumb" height="200" width="200"  radius = "max" border="7px_solid_rgb:ffd708bb" >
    </cl-image>
  </ng-template>
</ng-container>
<ng-template #notPrem>
  <ng-container *ngIf="photoAvatarId; else notPhoto2">
    <cl-image  class="inline " public-id= "{{ photoAvatarId}}" crop="thumb" gravity="face" radius = "max" height="200" width="200"  format="png">
    </cl-image>
  </ng-container>
  <ng-template #notPhoto2>
    <cl-image class="inline" public-id="{{ defaultPhotoId }}" height="200" width="200"  radius = "max">
    </cl-image>
  </ng-template>
</ng-template>
