<div *ngIf="!isDataAvailable">
  <div *ngIf="!loading">
  <ng-container *ngIf="router.url!=='/chat/'+userChat.userId; else selected">
    <div class="chat_list">
      <div class="chat_people">
          <a [routerLink]="['/chat', userChat.userId]" class="d-flex justify-content-between">
              <div class="chat_img">
                <app-photo-person [medias]="userChat.medias" [prem]="userChat.prem">
                </app-photo-person>
              </div>
            <div class="chat_ib">
              <h5>{{userChat.firstName}} {{userChat.lastName}}
                  <span *ngIf="lastMessage!==null" class="chat_date">{{lastMessage.timestamp | date :'MMMM d, HH:mm': "MSK"}}</span>
              </h5>
              <div *ngIf="lastMessage!==null">
                <ng-container *ngIf="lastMessage.content.length > 20; else veryLongMessage">
                <p>{{lastMessage.content.substr(0, 20) + '...'}}</p>
                </ng-container>
                <ng-template #veryLongMessage>
                  <p>{{lastMessage.content}}</p>
                </ng-template>
                <span *ngIf="countNewMessage!==0" class="badge bg-danger float-end">{{countNewMessage}}</span>
              </div>
          </div>
        </a>
      </div>
  </div>
  </ng-container>
  <ng-template #selected>
    <div class="chat_list active_chat">
    <div class="chat_people">
      <a [routerLink]="['/chat', userChat.userId]" class="d-flex justify-content-between">
          <div class="chat_img">
            <app-photo-person [medias]="userChat.medias" [prem]="userChat.prem">
            </app-photo-person>
          </div>
          <div class="chat_ib">
            <h5>{{userChat.firstName}} {{userChat.lastName}}
              <span *ngIf="lastMessage!==null" class="chat_date">{{lastMessage.timestamp | date :'MMMM d, HH:mm': "MSK"}}</span>

              <!--                <div *ngIf="lastMessage!==null">-->
              <!--                  <p class="small text-muted mb-1">{{lastMessage.timestamp | date :'HH:mm': "MSK"}}</p>-->
              <!--                  <span class="badge bg-danger float-end">1</span>-->
              <!--                </div>-->
            </h5>
            <div *ngIf="lastMessage!==null">
              <ng-container *ngIf="lastMessage.content.length > 20; else veryLongMessage">
                <p>{{lastMessage.content.substr(0, 20) + '...'}}</p>
              </ng-container>
              <ng-template #veryLongMessage>
                <p>{{lastMessage.content}}</p>
              </ng-template>
            </div>
          </div>
      </a>
    </div>
    </div>
  </ng-template>
  </div>
</div>
