<div class="form-group">
    <ngb-rating [formControl]="ctrl"  [max] = "5" (click) = toggle()></ngb-rating>
</div>
<ng-container *ngIf="!lookMessage; else message">
</ng-container>
<ng-template #message>
  <div *ngIf="ctrl.disabled " class="text-success">
    <p>Спасибо!</p></div>
  <div *ngIf="!ctrl.disabled" class="text-danger">
    <p>Пожалуйста, оцените событие!</p>
  </div>
</ng-template>

<!--<hr>-->
<!--<pre>Model: <b>{{ ctrl.value }}</b></pre>-->
<!--<button class="btn btn-sm btn-outline-{{ ctrl.disabled ? 'danger' : 'success'}} mr-2" (click)="toggle()">-->
<!--  {{ ctrl.disabled ? "control disabled" : " control enabled" }}-->
<!--</button>-->
