.posts__body {
  min-width: 1170px;
  margin-left: 105px;
}
.label {
  font-size: 22px;
  padding: 2rem 1rem;
  background: #fff;
  margin: 2.5rem 0;
  margin-left: 115px;
  left: 50%;
  min-width: 1175px;
}
.controls {
  text-decoration: none;
  width: 50%;
  margin: 1rem 25rem;
  font-size: 19px;
  padding: 1rem 0;
}

.paramSearch {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.title {
  padding-left: 15px;
}

.click {
  cursor: pointer;
}

.mat-card {
  margin-top: 20px;
  padding: 30px;
  display: flex;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

/*textarea{*/
/*  background: rgb(245,245,245);*/
/*  border-radius: 10px;*/
/*  width: 925px;*/
/*  padding-bottom: 30px;*/
/*  !*padding: 10px;*!*/
/*}*/
textarea.mat-input-element {
  padding: 10px 0 40px 16px;
  margin-bottom: 20px;
  max-width: 970px;
}
.mat-card-title {
  margin-bottom: 14px;
}

.bgGray {
  background-color: #eef1f4!important;
}

\:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
.mat-card-title {
  margin-bottom: 14px;
}
.content {
  display: flex;
  flex-direction: column;
}
.mat-form-field {
  display: inline;
}
.mat-card-content,
.mat-card-actions {
  margin-left: 30px;
  margin-bottom: 0;
  padding-top: 8px;
}
.mat-card-actions.mat-card-actions-align-end {
  padding-top: 15px;
}

.mat-card-actions.a.redirect {
  display: inline-flex;
  align-content: flex-start;
}
.loginLabel {
  padding-bottom: 5px;
}
/*a{*/
/*  text-decoration: none;*/
/*  visited:*/
/*    color: inherit;*/
/*}*/
.redirect {
  float: left;
  text-align: left;
  margin-right: auto;
  padding-left: 16px;
}
.mat-card {
  padding: 30px;
}
.create__section.chips {
  margin-top: 15px;
}
.timer {
  color: gray;
}

.controls{
  font-size: 19px;
  padding: 1rem 0;
  text-align: center;
}
