<!--<div class="container feed">-->
<div class="col-md-10 posts">
  <div class="posts__body" *ngIf="categorySearch">
    <mat-card class="container">
      <form [formGroup]="form" (ngSubmit)="handleFormSubmit()">
        <mat-card-content class="content">
          <div class="create__head paramSearch">
            <mat-card-title class="create__title"
              ><img src="fonts/icons/main/New_Topic.svg" alt="New topic" />Параметры поиска</mat-card-title
            >
          </div>

          <hr class="my-2" />

          <div class="row">
            <div class="col-md">
              <mat-form-field appearance="standard">
                <mat-label>Запрос</mat-label>
                <input class="message-input" (change)="handleEmptyInput()" matInput formControlName="query" />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md">
              <mat-form-field appearance="fill" class="example-form-field">
                <mat-label>Выберите даты</mat-label>
                <mat-date-range-input [rangePicker]="rangePicker">
                  <input matStartDate formControlName="startDate" />
                  <input matEndDate formControlName="finishDate" />
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker>
                  <mat-date-range-picker-actions>
                    <button mat-button matDateRangePickerCancel>Отмена</button>
                    <button mat-raised-button color="primary" matDateRangePickerApply>Выбор</button>
                  </mat-date-range-picker-actions>
                </mat-date-range-picker>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md">
              <label id="radio-group-rating">Рейтинг событий</label>
              <ngx-slider [options]="options2" formControlName="ratingControl"></ngx-slider>
            </div>

            <div class="col-md">
              <label id="radio-group-members">Количество участников</label>
              <ngx-slider [options]="options1" formControlName="membersControl"></ngx-slider>
            </div>
          </div>
          <hr class="my-2" />

          <div class="row">
            <div class="col-md-6">
              <div class="create__section">
                <mat-form-field class="example-full-width" appearance="standard">
                  <mat-label>Страна</mat-label>
                  <input type="text" matInput formControlName="country" [matAutocomplete]="auto" />
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" formControlName="country">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{ option.countryName }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-6">
              <div class="create__section">
                <mat-form-field class="example-full-width" appearance="standard">
                  <mat-label>Город</mat-label>
                  <input type="text" matInput formControlName="city" [matAutocomplete]="auto2" />
                  <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFnCity" formControlName="city">
                    <mat-option *ngFor="let option of filteredOptionsCity | async" [value]="option">
                      <ng-container *ngIf="option.regionRu !== null; else Region">
                        {{ option.titleRu + ', ' + option.regionRu }}
                      </ng-container>
                      <ng-template #Region>
                        {{ option.titleRu }}
                      </ng-template>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
          </div>

          <hr class="my-2" />
          <div>
            <label class="form-check-label">Категории событий</label>
          </div>

          <div class="create__section chips">
            <app-chips-events [options]="categoryList" formControlName="chipsControl"></app-chips-events>
          </div>
          <hr class="my-2" />
        </mat-card-content>

        <mat-card-actions align="end">
          <div class="create__footer">
            <button mat-flat-button color="primary" [disabled]="!form.valid">Найти события</button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>

  <div class="posts">
    <div class="posts__head" style="margin-left: 105px">
      <div class="col-xs-6 posts__category">
        <div>
          Найдено <b>{{ count }}</b> результата(ов)!
        </div>
      </div>
      <div style="padding-left: 30px" class="col-xs-2 posts__users">
        <div class="click" (click)="subsSort()">
          Подписчики
          <mat-icon aria-hidden="false" aria-label="Example home icon">{{ membersIcon }}</mat-icon>
        </div>
      </div>
      <div style="padding-left: 75px; margin-left: 30px" class="col-xs-2 posts__users">
        <div class="click" (click)="ratingSort()">
          Рейтинг
          <mat-icon aria-hidden="false" aria-label="Example home icon">{{ rateIcon }}</mat-icon>
        </div>
      </div>
      <div style="padding-left: 95px; margin-left: 15px" class="col-xs-2 posts__users">
        <div class="click" (click)="dataSort()">
          Дата
          <mat-icon aria-hidden="false" aria-label="Example home icon">{{ dateIcon }}</mat-icon>
        </div>
      </div>
    </div>

    <div *ngIf="!isEmptyResponse; else noContent">
      <div class="posts__body">
        <div
          *ngFor="
            let event of events
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
        >
          <div>
            <div class="posts__item" [ngClass]="{ bgGray: i % 2 === 0 }">
              <div class="posts__section-left">
                <div class="posts__topic">
                  <div class="posts__content">
                    <a [routerLink]="['/event', event.eventId]">
                      <h3>{{ event.briefDescription }}</h3>
                    </a>
                    <div class="posts__tags tags">
                      <ng-container
                        *ngIf="
                          this.event.categoriesEventDTOS !== undefined && this.event.categoriesEventDTOS.length !== 0;
                          else noCategories
                        "
                      >
                        <div *ngFor="let item of event.categoriesEventDTOS">
                          <app-tag-event [category]="item"></app-tag-event>
                        </div>
                      </ng-container>
                      <ng-template #noCategories>
                        <a href="#" class="bg-ec008c">Общая</a>
                      </ng-template>
                    </div>
                  </div>
                </div>

                <div class="posts__section-right">
                  <div class="col-md-10 posts__users js-dropdown">
                    <div *ngIf="event.usersDTO.length != 0; else noUsers">
                      <div *ngFor="let user of event.usersDTO; let i = index">
                        <div *ngIf="i < 2">
                          <a [routerLink]="['/personal-cabinet', user.userId]" class="avatar">
                            <app-photo-person [medias]="user.medias"> </app-photo-person>
                          </a>
                        </div>
                      </div>
                    </div>
                    <ng-template #noUsers>
                      <div class="avatar">
                        <app-photo-person [medias]="defaultOganizer.defaultOrganizerIdMedia"> </app-photo-person>
                      </div>
                    </ng-template>
                  </div>
                  <!--                <div class="posts__replies">252</div>-->
                  <app-book-rating class="col-md-6 posts__views" rating="{{ event.rating }}"></app-book-rating>
                  <div class="col-md-6 posts__replies">{{ event.dateTime | date: 'dd.MM.yyyy' }}</div>
                  <div class="col-md-4 posts__replies">{{ event.dateTime | date: 'HH:mm' }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noContent>
      <div class="label">По запросу с данными параметрами ничего не найдено!</div>
    </ng-template>
  </div>

  <div class="col-md-12 controls">
    <pagination-controls
      previousLabel="Предыдущая"
      nextLabel="Следующая"
      responsive="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>
</div>
<!--</div>-->
