<div class="container-chat">
<div class="messaging">
  <div class="inbox_msg">
    <div class="inbox_people">
      <div class="headind_srch">
        <div class="recent_heading">
          <h1>Чаты</h1>
        </div>
      </div>
      <cdk-virtual-scroll-viewport itemSize="30" class="inbox_chat scroll">
        <div *ngFor="let room of chatRooms">
          <app-chat-user-minimal-information [chatRoom]="room" [update]="room.update"></app-chat-user-minimal-information>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="mesgs">
      <ng-container *ngIf="loading">
<!--        <mat-spinner></mat-spinner>-->
      </ng-container>
      <ng-container *ngIf="!loading">
        <cdk-virtual-scroll-viewport #messages itemSize="60" class="inbox_chat" (scrolledIndexChange)="99999">
          <div *cdkVirtualFor="let message of chatMessages">
            <div *ngIf="message.senderId===user.userId">
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p>{{message.content}}
<!--                    <svg *ngIf="message.status === 'RECEIVED'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">-->
<!--                      <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>-->
<!--                    </svg>-->

<!--                    <svg *ngIf="message.status === 'DELIVERED'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">-->
<!--                      <path d="M8.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14l.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/>-->
<!--                    </svg>-->
                  </p>
                  <span class="time_date"> {{message.timestamp | date :'MMMM d, y HH:mm': "MSK"}}</span> </div>
              </div>
            </div>
            <div *ngIf="message.senderId!==user.userId">
              <div class="incoming_msg-2">
                <div class="incoming_msg_img-2">
                  <app-photo-person-chat [media]="userChat.medias[0]" [prem]="userChat.prem">
                  </app-photo-person-chat>
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{message.content}}
<!--                      <svg *ngIf="message.status === 'RECEIVED'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">-->
<!--                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>-->
<!--                      </svg>-->

<!--                      <svg *ngIf="message.status === 'DELIVERED'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">-->
<!--                        <path d="M8.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14l.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/>-->
<!--                      </svg>-->

                    </p>
                    <span class="time_date">{{message.timestamp | date :'MMMM d, y HH:mm': "MSK"}}</span></div>
                </div>
              </div>
            </div>
            <div>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
        <div class="type_msg">
          <form [formGroup]="form">
            <mat-form-field class="example-full-width input_msg_write">
            <textarea class="inputField"
                      cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                      placeholder="Cообщение"
                      matInput type="text" formControlName="textMessage" name="textMessage">
            </textarea>
            </mat-form-field>
            <button class="msg_send_btn" (click)="sendMessage()" type="button"> <mat-icon >near_me</mat-icon>
            </button>
          </form>
        </div>
      </ng-container>
    </div>
  </div>
</div>
</div>
