<h2 mat-dialog-title>В этом месяце вы больше не можете создавать события, чтобы продолжить купите премиум подписку.</h2>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="true" [routerLink]="['personal-cabinet']" cdkFocusInitial>Перейти в личный кабинет</button>
</mat-dialog-actions>
