<div class="backdrop">

</div>
<div class="modal">
    <nav class="navbar">
        <h1>{{title}}</h1>
    </nav>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, necessitatibus!</p>
    <button class="btn" (close)="close.emit()">Close</button>
</div>
